@import "src/variables";

.visibility {
  &__form {
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px 5px 10px;
    border-radius: 10px;

    div {
      margin-left: 10px;
    }

    input  {
      min-width: 330px;
      margin-right: 15px;
    }
  }

  & > .option {
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    border: rgba(0, 0, 0, 0.15) 1px solid;
  }
}