@use "src/variables" as *;

.error-message {
  color: var(--error);
  font-size: var(--text-xs);
  min-height: 1rem;
  margin-top: var(--space-1);
  margin-bottom: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: var(--space-1);
  
  &:before {
      content: 'error_outline';
      font-family: 'Material Icons Outlined';
      font-size: 14px;
      display: none; /* Optional: enable if we want icon */
  }
}