@import "src/variables";

.home {
  @include page;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    color: $color-bloom;
  }

  &__submit {
    cursor: pointer;
    background-color: $color-warning;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s ease-in;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      transform: scale(0.99);
    }
  }
}