@import "src/variables";

.evaluation {
  @include page;

  &__title {
    color: $color-bloom;
  }

  .header {
    display: flex;
    justify-content: center;

    .evaluation__title {
      color: $color-bloom;
      position: relative;
    }

    .rating {
      position: absolute;
      right: 30px;
    }
  }
}