@import "variables";

.App {
  text-align: center;
}

.form__error {
  color: $color-error;
  text-align: left;
  margin-top: 3px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 0.85rem;
  min-height: 1rem;
}