@import "variables";

* {
  font-family: $font-family;
  color: $color-text-dark;
}

div {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
  border: lightgray 1px solid;
  width: 100%;
  font-size: 1.1rem;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  box-sizing: border-box;

  &:focus {
    border: 1px $color-warning solid;
    -moz-outline-radius: 10px;
  }
}